* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', serif;
}

a {
    color: #118AB2;
}

body {
    background: #fff;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .1;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 80vw;
    margin: auto;
}

section > article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.6rem;
    width: 100%;
    flex: 1 0 50%;
    flex-direction: column;
}

section article video {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

section article div {
    margin-top: .654321rem;
}

section article .credit {
    margin: 3rem 0;
    font-size: 1.2rem;
    color: #9e9e9e;
}
    section article .credit a {
        padding: 0 .5rem;
    }

section article .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    width: 75%;
}
    section article .content p {
        color: #111;
        font-size: 1.3rem;
        line-height: 1.5em;
    }

    section article .content p strong {
        color: #06daa0;
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: .1rem;
    }

aside em {
    text-align: center;
    font-size: 1rem;
    color: #666;
    margin: auto;
    display: block;
    margin-top: 1rem;
    display: none;
}

h1 {
    text-indent: -5000px;
    overflow: hidden;
    width: 200px;
    height: 50px;
    background: transparent url(../assets/instart@2x.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 2rem;
    margin-top: 1rem;
    filter: invert(1) hue-rotate(180deg);
}

input {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: .25rem solid #06D6A0;
    margin-bottom: .5rem;
}

button {
    padding: .75rem 1rem;
    font-size: 1.2rem;
    border: none;
    background: #06daa0;
    cursor: pointer;
    color: #fff;
}

button:hover {
    color: #000;
    background: tomato;
}

@media(min-width: 2600px) {
    section article .content {
        width: 65%;
    }
}

@media(max-width: 1134px) {
    section {
        width: 80vw;
    }

    section article .content {
        width: 100%;
    }

    section article video {
        width: 100%;
    }
}

@media(max-width: 770px) {
    section {
        width: 95vw;
    }

    aside em {
        display: block;
    }
}

@media(max-width: 575px) {
    section {
        width: 95vw;
    }

    section article input, section article button {
        width: 100%;
    }

    section article video {
        width: 100%;
        border-radius: inherit;
    }
}
