* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body, html {
    height: 100%;
    overflow: hidden;
}

a {
    color: #118AB2;
}

canvas {
    width: 100%;
    height: 100%;
}

section {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

section article {
    text-align: center;
    background: rgba(255,255,255,.9);
    padding: 2rem 4rem;
    font-size: 1.6rem;
}

section article img {
    width: 50%;
}

section article div {
    margin-top: 2rem;
}

section article p.credit {
    margin-top: 2rem;
    font-size: 1.2rem;
}

h1 {
    letter-spacing: 1rem;
    font-size: 2.62em;
    font-weight: 100;
}

h1 span {
    color: tomato;
}

input {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: .25rem solid #06D6A0;
}

button {
    padding: .75rem 1rem;
    font-size: 1.2rem;
    border: none;
    background: #06daa0;
    cursor: pointer;
    color: #fff;
}

button:hover {
    color: #000;
    background: tomato;
}
