* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
}

a {
    color: #118AB2;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

section article {
    text-align: center;
    background: rgba(255,255,255,.76);
    padding: 0 0 2rem 0;
    font-size: 1.6rem;
    width: 100%;
    flex: 1 0 100%;
}

section article img {
    margin-top: 2rem;
    max-width: 50%;
    height: auto;
}

section article div {
    margin-top: 2rem;
}

section article p.credit {
    margin-top: 2rem;
    font-size: 1.2rem;
}

h1 {
    letter-spacing: 1rem;
    font-size: 2.62em;
    font-weight: 100;
}

h1 span {
    color: tomato;
}

input {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: .25rem solid #06D6A0;
    margin-bottom: .5rem;
}

button {
    padding: .75rem 1rem;
    font-size: 1.2rem;
    border: none;
    background: #06daa0;
    cursor: pointer;
    color: #fff;
}

button:hover {
    color: #000;
    background: tomato;
}

@media(max-width: 1100px) {
    section article img {
        margin-top: 0;
        width: 75%;
    }
}

@media(max-width: 770px) {
    section article img {
        width: 100%;
    }

    section article {
        padding: 0 0 2rem 0;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media(max-aspect-ratio: 2/1) {
    section {
        position: absolute;
    }
}
